<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head"></head>
<body>
<h3>Delete category</h3>

<a th:href="@{/category}">Back to category list</a>

<form action="/category/delete" method="post" th:object="${category}">
    <table class="table">
        <tr>
            <td><input type="hidden" th:field="*{id}" readonly/></td>
        </tr>

        <tr>
            <td>Title:</td>
            <td><input type="text" th:field="*{categoryName}" readonly/></td>
        </tr>
    </table>

    <button type="submit">Delete</button>
</form>
</body>
</html>