<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head"></head>
<body>
<h3>Edit Blog</h3>

<a class="btn btn-primary" th:href="@{/}" role="button">Back Blog</a>
<div id="form">
    <form th:action="@{/update}" th:object="${blogList}"
          method="POST" novalidate="novalidate">
        <input type="hidden" th:field="*{id}"/>
        <div>
            <label>Title Name:</label>
            <input type="text" th:field="*{title}"/>
        </div>
        <div>
            <label>Content:</label>
            <input type="email" th:field="*{content}"/>
        </div>
        <div>
            <label>Author:</label>
            <input type="text" th:field="*{author}"/>
        </div>
        <div>
            <label>Date Write:</label>
            <input type="text" th:field="*{dateOfWriting}"/>
        </div>
        <div>
            <label>Category</label>
            <select th:field="*{category}">
                <option th:each="cate: ${categoryList}" th:value="${cate.id}" th:text="${cate.categoryName}"></option>
            </select>
        </div>
        <input type="submit" value="Save"/>
    </form>
</div>
</body>
</html>