<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table class="table">
    <thead>
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Province</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="cus : ${customerList}">
        <td th:text="${cus.firstName}"></td>
        <td th:text="${cus.lastName}"></td>
        <td th:text="${cus.province.nameProvince}"></td>
    </tr>

    </tbody>
</table>
</body>
</html>