<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head"></head>
<body>

<h3>Add Customer</h3>

<a class="btn btn-primary" th:href="@{/}" role="button">Back to customer list</a>
<div id="form">
    <form th:action="@{/save}" th:object="${customer}"
          method="POST" novalidate="novalidate">
        <div>
            <label>First Name</label>
            <input type="text" th:field="*{firstName}"/>
        </div>
        <div>
            <label>Last Name</label>
            <input type="text" th:field="*{lastName}"/>
        </div>
        <div>
            <label>Province</label>
            <select th:field="*{province}" >
                <option th:each="pro : ${provinceList}" th:value="${pro.id}" th:text="${pro.nameProvince}">

                </option>
            </select>
        </div>
        <input type="submit" value="Save"/>
    </form>
</div>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>