<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<h3 style="text-align: center">Your Cart</h3>
<a class="btn btn-primary" th:href="@{/shop}" role="button">Your Chose</a>
<table class="table table-dark">
    <thead>
    <tr>
        <th>Name</th>
        <th>Picture</th>
        <th>Price</th>
        <th>Discount</th>
        <th>Add</th>
        <th>Drop</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="productMap :${cart.productMap}">
        <td th:text="${productMap.key.nameProduct}"></td>
        <td >
            <img th:src="${productMap.key.image}" width="auto" height="70px">
        </td>
        <td th:text="${productMap.key.price}"></td>
        <td th:text="${productMap.value}"></td>
        <td>
            <a th:href="@{/shop/add/__${productMap.key.id}__}">+</a>
        </td>
        <td>
            <a th:href="@{/shop/drop/__${productMap.key.id}__}">-</a>
        </td>
    </tr>
    <tr>
        <td><b>Tổng giá tiền:</b></td>
        <td></td>
        <td></td>
        <td></td>
        <td th:text="${cart.countTotalPayment()}"></td>
        <td></td>
    </tr>
    </tbody>
</table>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>