<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/home/layout :: head"></head>
<body>

<h3 style="text-align: center">Create Facility</h3>

<a class="btn btn-primary" th:href="@{/facility}" role="button">Home</a>

<div id="form" >
    <form th:action="@{/facility/save}" th:object="${facilityDto}"
          method="POST" novalidate="novalidate">
        <table class="table" style="width: 60%;margin-left: 20%" border="1">
            <tr>
                <td><input type="hidden" th:field="*{id}"/></td>
            </tr>
            <tr>
                <td>Facility Type:</td>
                <td>
                    <select th:field="*{facilityType}" onchange="changeForm(this)">
                        <option th:value="${''}">Chose Type..</option>
                        <option th:each="fac : ${facilityTypes}" th:value="${fac.id}" th:text="${fac.name}"></option>
                    </select>
                </td>
            </tr>

            <tr>
                <td>Name:</td>
                <td><input type="text" th:field="*{name}"/></td>
            </tr>
            <tr>
                <td>Area:</td>
                <td>
                    <input type="text" th:field="*{area}"/>
                    <p style="color: red" th:errors="*{area}"
                       th:if="${#fields.hasErrors('area')}"></p>
                </td>
            </tr>
            <tr>
                <td>Cost:</td>
                <td><input type="text" th:field="*{cost}"/>
                    <p style="color: red" th:errors="*{cost}"
                       th:if="${#fields.hasErrors('cost')}"></p></td>
            </tr>
            <tr>
                <td>Max People:</td>
                <td>
                    <input type="text" th:field="*{maxPeople}"/>
                    <p style="color: #45a049" th:errors="*{maxPeople}"
                       th:if="${#fields.hasErrors('maxPeople')}"></p>
                </td>
            </tr>
            <tr>
                <td>Rent Type:</td>
                <td>
                    <select th:field="*{rentType}">
                        <option th:each="rent : ${rentTypes}" th:value="${rent.id}" th:text="${rent.name}"></option>
                    </select>
                </td>
            </tr>


            <tr id="standardRoom">
                <td>Standard Room:</td>
                <td>
                    <input type="text" th:field="*{standardRoom}"/>
                    <p style="color: red" th:errors="*{standardRoom}"
                       th:if="${#fields.hasErrors('standardRoom')}"></p>
                </td>
            </tr>

            <tr id="descriptionOtherConvenience">
                <td>Description:</td>
                <td>
                    <input type="text" th:field="*{descriptionOtherConvenience}"/>
                    <p style="color: red" th:errors="*{descriptionOtherConvenience}"
                       th:if="${#fields.hasErrors('descriptionOtherConvenience')}"></p>
                </td>
            </tr>
            <tr id="poolArea">
                <td>Pool Area:</td>
                <td>
                    <input type="text" th:field="*{poolArea}"/>
                    <p style="color: red" th:errors="*{poolArea}"
                       th:if="${#fields.hasErrors('poolArea')}"></p>
                </td>
            </tr>
            <tr id="numberOfFloors">
                <td>Floors:</td>
                <td>
                    <input type="text" th:field="*{numberOfFloors}"/>
                    <p style="color: red" th:errors="*{numberOfFloors}"
                       th:if="${#fields.hasErrors('numberOfFloors')}"></p>
                </td>
            </tr>
            <tr id="facilityFree">
                <td>Service Free:</td>
                <td>
                    <input type="text" th:field="*{facilityFree}"/>
                    <p style="color: red" th:errors="*{facilityFree}"
                       th:if="${#fields.hasErrors('facilityFree')}"></p>
                </td>
            </tr>
            <tr >

                <td style="margin-left: 40%"><button class="btn btn-primary" style="height: 30px;text-align: center" type="submit" value="Save">Save</button></td>

                <td style="margin-left: 40%"><button class="btn btn-primary" style="height: 30px;text-align: center" th:href="@{/facility}">Close</button></td>
            </tr>

        </table>
    </form>
</div>

<footer th:replace="/home/layout :: footer"></footer>
</body>

<script>
    function changeForm(type) {
        let choseType = type.value;
        switch (choseType) {
            case "1":
                document.getElementById("standardRoom").style.display = "block";
                document.getElementById("descriptionOtherConvenience").style.display = "block";
                document.getElementById("poolArea").style.display = "block";
                document.getElementById("numberOfFloors").style.display = "block";
                document.getElementById("facilityFree").style.display = "none";
                break;
            case "2":
                document.getElementById("standardRoom").style.display = "none";
                document.getElementById("descriptionOtherConvenience").style.display = "none";
                document.getElementById("poolArea").style.display = "none";
                document.getElementById("numberOfFloors").style.display = "none";
                document.getElementById("facilityFree").style.display = "block";
                break;
            case "3":
                document.getElementById("standardRoom").style.display = "block";
                document.getElementById("descriptionOtherConvenience").style.display = "block";
                document.getElementById("poolArea").style.display = "none";
                document.getElementById("numberOfFloors").style.display = "block";
                document.getElementById("facilityFree").style.display = "none";
                break;
            default:
                document.getElementById("standardRoom").style.display = "block";
                document.getElementById("descriptionOtherConvenience").style.display = "block";
                document.getElementById("poolArea").style.display = "block";
                document.getElementById("numberOfFloors").style.display = "block";
                document.getElementById("facilityFree").style.display = "block";
                break;
        }
    }
</script>
</html>