<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/home/layout :: head">

</head>
<body>

<h3 style="text-align: center; color: blue">Facility List</h3>
<h4 style="text-align: center;">
    <div><div style="color: #4CAF50" th:if="${messCreate}"><span th:text="${messCreate}"></span></div></div>
    <div><div style="color: #4CAF50" th:if="${messUpdate}"><span th:text="${messUpdate}"></span></div></div>
    <div><div style="color: #4CAF50" th:if="${messDelete}"><span th:text="${messDelete}"></span></div></div>
</h4>


<a class="btn btn-primary" th:href="@{/facility/create}" role="button">CREATE NEW FACILITY</a>

<form class="d-flex my-2" role="search" style="margin-left: auto" action="" method="get">
    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="name" >
    <button class="btn btn-outline-success" type="submit">
        <i class="fa-solid fa-magnifying-glass"></i>Search</button>
</form>

<table class="table">
    <thead>
    <tr>
        <!--        <th scope="col">#</th>-->
        <th scope="col" class="table-primary">Name</th>
        <th scope="col" class="table-primary">Area</th>
        <th scope="col" class="table-primary">Cost</th>
        <th scope="col" class="table-primary">Max People</th>
        <th scope="col" class="table-primary">RentType</th>
        <th scope="col" class="table-primary">FacilityType</th>
        <th scope="col" class="table-primary">Pool Area</th>
        <th scope="col" class="table-primary">Floors</th>
        <th scope="col" class="table-primary">Service Free</th>
        <th scope="col" class="table-primary">Update</th>
        <th scope="col" class="table-primary">Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="fac : ${facilityPage}">
        <td th:text="${fac.name}" class="table-info"></td>
        <td th:text="${fac.area}" class="table-info"></td>
        <td th:text="${fac.cost}" class="table-info"></td>
        <td th:text="${fac.maxPeople}" class="table-info"></td>
        <td th:text="${fac.rentType.name}" class="table-info"></td>
        <td th:text="${fac.facilityType.name}" class="table-info"></td>
        <td th:text="${fac.poolArea}" class="table-info"></td>
        <td th:text="${fac.numberOfFloors}" class="table-info"></td>
        <td th:text="${fac.facilityFree}" class="table-info"></td>
        <td class="table-info">
            <a th:href="@{/facility/edit/{id}(id=${fac.id})}" role="button">
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-pencil-fill"
                 viewBox="0 0 16 16">
                <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5
                0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0
                1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5
                0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5
                 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5
                 0 0 0 .168-.11l.178-.178z"/>
            </svg>
            </a>
        </td>
        <td class="table-info">
            <button th:attr="onclick=|facilityModal('${fac.id}', '${fac.name}')|"
                    data-bs-toggle="modal"
                    data-bs-target="#facilityModal">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                     class="bi bi-trash-fill" viewBox="0 0 16 16">
                    <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1
                    1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5
                    0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3
                    .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
                </svg>
            </button>
        </td>
        <!--        <td class="table-info">>-->
        <!--            <a th:href="@{/{id}/view(id=${blog.id})}" role="button">Xem Tin.....</a>-->
        <!--        </td>-->
    </tr>
    </tbody>
</table>

<div>
    <a th:href="@{'/facility'(page=${facilityPage.number - 1})}" th:if="${facilityPage.hasPrevious()}">Previous</a>
    <span th:text="${facilityPage.number + 1}"></span>/<span th:text="${facilityPage.totalPages}"></span>
    <a th:href="@{'/facility'(page=${facilityPage.number + 1})}" th:if="${facilityPage.hasNext()}">Next</a>
</div>

</body>
<footer th:replace="/home/layout :: footer"></footer>

<div class="modal fade" id="facilityModal" tabindex="-1" aria-labelledby="exampleModalLabel1"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel1">Are you sure?</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <form th:action="@{/facility/delete}" method="GET">
                <div class="modal-body">
                    <span class="h6">facility:</span><strong id="nameDelete" class="text-danger ps-2"></strong>
                    <input type="hidden" name="idDelete" id="idDelete" readonly/>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-danger" value="delete">Delete</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    function facilityModal(id, name) {
        document.getElementById("idDelete").value = id;
        document.getElementById("nameDelete").innerText = name;
        debugger
    }
</script>
</html>