<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head"></head>
<body>

<h3>Add Product</h3>

<a class="btn btn-primary" th:href="@{/}" role="button">Back to customer list</a>
<div id="form">
    <form th:action="@{/save}" th:object="${product}"
          method="POST" novalidate="novalidate">
        <div>
            <label>Id:</label>
            <input type="hidden" th:field="*{id}"/>
        </div>

        <div>
            <label>Product Name</label>
            <input type="text" th:field="*{productName}"/>
        </div>
        <div>
            <label>Price</label>
            <input type="number" th:field="*{price}"/>
        </div>
        <div>
            <label>Description</label>
            <input type="text" th:field="*{description}"/>
        </div>
        <div>
            <label>Producer</label>
            <input type="text" th:field="*{producer}"/>
        </div>
        <input type="submit" value="Save"/>
    </form>
</div>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>