<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head"></head>
<body>
<h3>View Product</h3>

<a class="btn btn-primary" th:href="@{/}" role="button">Back to customer list</a>
<div id="detail">
    <div class="cusdetail">
        <label>ID:</label>
        <label th:text="${product.getId()}"></label>
    </div>
    <div class="cusdetail">
        <label>Name:</label>
        <label th:text="${product.getProductName()}"></label>
    </div>
    <div class="cusdetail">
        <label>Price:</label>
        <label th:text="${product.price}"></label>
    </div>
    <div class="cusdetail">
        <label>Description:</label>
        <label th:text="${product.getDescription()}"></label>
    </div>
    <div class="cusdetail">
        <label>Producer:</label>
        <label th:text="${product.getProducer()}"></label>
    </div>
</div>

</body>
</html>