<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head"></head>
<body>
<h3>Edit category</h3>

<a th:href="@{/category}">Back to category list</a>

<form action="/category/update" method="post" th:object="${category}">
    <table>
        <tr>
            <td><input type="hidden" th:field="*{id}"/></td>
        </tr>

        <tr>
            <td>Name:</td>
            <td><input type="text" th:field="*{categoryName}"/></td>
        </tr>
    </table>

    <button type="submit">Save</button>
</form>
</body>
</html>