<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head"></head>
<body>
<h3>View Music</h3>

<a class="btn btn-primary" th:href="@{/}" role="button">Back to Music list</a>
<div id="detail">
    <div class="cusdetail">
        <label>ID:</label>
        <label th:text="${music.id}"></label>
    </div>
    <div class="cusdetail">
        <label>Name:</label>
        <label th:text="${music.name}"></label>
    </div>
    <div class="cusdetail">
        <label>Price:</label>
        <label th:text="${music.artist}"></label>
    </div>
    <div class="cusdetail">
        <label>Description:</label>
        <label th:text="${music.category}"></label>
    </div>
    <div class="cusdetail">
        <label>Producer:</label>
        <a th:text="${music.link}" th:href="${music.link}"></a>
    </div>
</div>

</body>
</html>