<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head"></head>
<body>

<h3>Create User</h3>

<a class="btn btn-primary" th:href="@{/}" role="button">Home</a>
<div id="form">
    <form th:action="@{/save}" th:object="${userDto}"
          method="POST" novalidate="novalidate">
        <table class="table">
            <tr>
                <td>Id:</td>
                <td><input type="hidden" th:field="*{id}"/></td>
            </tr>

            <tr>
                <td>First:</td>
                <td>
                    <input type="text" th:field="*{firstName}"/>
                    <p style="color: red" th:errors="*{firstName}"
                       th:if="${#fields.hasErrors('firstName')}"></p>
                </td>
            </tr>
            <tr>
                <td>Last:</td>
                <td><input type="text" th:field="*{lastName}"/>
                    <p style="color: red" th:errors="*{lastName}"
                       th:if="${#fields.hasErrors('lastName')}"></p></td>
            </tr>
            <tr>
                <td>Phone:</td>
                <td>
                    <input type="text" th:field="*{phoneNumber}"/>
                    <p style="color: #45a049" th:errors="*{phoneNumber}"
                    th:if="${#fields.hasErrors('phoneNumber')}"></p>
                </td>
            </tr>
            <tr>
                <td>Age:</td>
                <td><input type="text" th:field="*{age}"/>
                <p style="color: #45a049" th:errors="*{age}"
                   th:if="${#fields.hasErrors('age')}"></p></td>
            </tr>
            <tr>
                <td>Email:</td>
                <td>
                    <input type="text" th:field="*{email}"/>
                    <p style="color: red"th:errors="*{email}"
                       th:if="${#fields.hasErrors('email')}"></p>
                </td>
            </tr>
            <tr>
                <td><input type="submit" value="Save"/></td>
            </tr>

        </table>
    </form>
</div>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>