<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head"></head>
<body>
<h3>Delete Blog</h3>

<a class="btn btn-primary" th:href="@{/}" role="button">Back Blog</a>
<div id="form">
    <form th:action="@{/delete}" th:object="${blogList}"
          method="POST" novalidate="novalidate">
        <input type="hidden" th:field="*{id}"/>
        <div>
            <label>Title Name</label>
            <input type="text" th:field="*{title}"/>
        </div>
        <div>
            <label>Content</label>
            <input type="email" th:field="*{content}"/>
        </div>
        <div>
            <label>Author</label>
            <input type="text" th:field="*{author}"/>
        </div>
        <div>
            <label>Date Write</label>
            <input type="text" th:field="*{dateOfWriting}"/>
        </div>
        <input type="submit" value="Delete"/>
    </form>
</div>
</body>
</html>