<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head"></head>
<body>

<a class="btn btn-primary" th:href="@{/library}" role="button">Back Library</a>
<form th:action="@{/pay}" th:object="${book}"
      method="POST" novalidate="novalidate">
    <div>
        <label>Code Book:</label>
        <input readonly th:field="*{id}"/>
    </div>

    <div>
        <label>Name:</label>
        <input readonly th:field="*{nameBook}"/>
    </div>
    <div>
        <label>Category</label>
        <input readonly th:field="*{category}"/>
    </div>
    <div>
        <label>Amount</label>
        <input readonly th:field="*{amount}"/>
    </div>
    <div>
        <label>Sum</label>
        <input type="hidden" readonly th:field="*{sumBook}"/>
    </div>
    <input type="submit" value="Pay Book"/>
</form>

</body>
</html>