<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/home/layout :: head"></head>
<body>

<h2 style="text-align: center;color: cornflowerblue">Edit Customer</h2>

<div class="row">
    <a class="btn btn-primary" th:href="@{/customer}" role="button">
        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-house-door"
             viewBox="0 0 16 16">
            <path d="M8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4.5a.5.5 0 0 0 .5-.5v-4h2v4a.5.5 0 0 0 .5.5H14a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146zM2.5 14V7.707l5.5-5.5 5.5 5.5V14H10v-4a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v4H2.5z"/>
        </svg>
        Home</a>
</div>

<div style="background-color: #caced1">
    <form th:action="@{/customer/update}" th:object="${customerDto}"
          method="POST" novalidate="novalidate" style="width: 45%;margin-left: 28%">
        <div class="mb-3">
            <input type="hidden" th:field="*{id}"/>
        </div>
        <div class="mb-3">
            <b class="col-form-label">Name:</b>
            <input class="form-control" type="text" th:field="*{name}"/>
        </div>
        <div class="mb-3">
            <b class="col-form-label">Gender:</b>
            <select th:field="*{gender}" class="form-select">
                <option th:value=1>Male</option>
                <option th:value=0>Female</option>
            </select>
        </div>
        <div class="mb-3">
            <b class="col-form-label">Id Card:</b>
            <input class="form-control" type="text" th:field="*{idCard}"/>
            <p style="color: red" th:errors="*{idCard}"
               th:if="${#fields.hasErrors('idCard')}"></p>
        </div>
        <div class="mb-3">
            <b class="col-form-label">BirthDay:</b>

            <input class="form-control" type="text" th:field="*{dateOfBirth}"/>
            <p style="color: #45a049" th:errors="*{dateOfBirth}"
               th:if="${#fields.hasErrors('dateOfBirth')}"></p>
        </div>
        <div class="mb-3">
            <b class="col-form-label">Phone:</b>
            <input class="form-control" type="number" th:field="*{phone}"/>
            <p style="color: red" th:errors="*{phone}"
               th:if="${#fields.hasErrors('phone')}"></p>
        </div>
        <div class="mb-3">
            <b class="col-form-label">Email:</b>
            <input class="form-control" type="text" th:field="*{email}"/>
            <p style="color: red" th:errors="*{email}"
               th:if="${#fields.hasErrors('email')}"></p>
        </div>
        <div class="mb-3">
            <b class="col-form-label">Address:</b>
            <input class="form-control" type="text" th:field="*{address}"/>
            <p style="color: red" th:errors="*{address}"
               th:if="${#fields.hasErrors('address')}"></p>
        </div>
        <div class="mb-3">
            <b class="col-form-label">Custumer Type:</b>
            <select th:field="*{customerType}" class="form-select">
                <option th:each="cus : ${customerTypes}" th:value="${cus.id}" th:text="${cus.name}"></option>
            </select>
        </div>
        <div style="margin-left: 30%;height: 100px" class="mb-3">
            <button class="btn btn-primary" style="height: 50px;width: 50%" type="submit" value="Save">Update</button>
        </div>
    </form>
</div>

<footer th:replace="/home/layout :: footer"></footer>
</body>
</html>